/**
 * layouts/grid.styl
 * @author kaminoctem
 */



.grid
  display: block

.row
  display: flex
  flex-wrap: wrap

.column
  display: block
  flex-basis: 0
  flex-grow: 1
  flex-shrink: 1
  max-width: 100%
  position: relative
  &.is-full
    flex: none
    width: 100%

for num in (1..$grid-column-count)
  .column-{num}
    @extend.column
    width: percentage(num / $grid-column-count)
    flex-basis: percentage(num / $grid-column-count)
