/**
 * containers/fixedaspectratio.styl
 * @author kaminoctem
 */

$fixedaspectratio-backcolor ?= $color-white
$fixedaspectratio-forecolor ?= $color-black

$fixedaspectratio-aspect-ratio-x ?= $aspect-ratio-x
$fixedaspectratio-aspect-ratio-y ?= $aspect-ratio-y

.fixedaspectratio
  background-color: $fixedaspectratio-backcolor
  bottom: 0px
  color: $fixedaspectratio-forecolor
  left: 0px
  margin: auto
  overflow: hidden
  position: absolute
  right: 0px
  top: 0px

/** maintain aspect ratio */
@media (min-width: 100vh * ($fixedaspectratio-aspect-ratio-x / $fixedaspectratio-aspect-ratio-y))
  .fixedaspectratio
    font-size: 3vh
    height: 100vh
    width: 100vh * ($fixedaspectratio-aspect-ratio-x / $fixedaspectratio-aspect-ratio-y)

@media (min-height: 100vw * ($fixedaspectratio-aspect-ratio-y / $fixedaspectratio-aspect-ratio-x))
  .fixedaspectratio
    font-size: 3vw * ($fixedaspectratio-aspect-ratio-y / $fixedaspectratio-aspect-ratio-x)
    height: 100vw * ($fixedaspectratio-aspect-ratio-y / $fixedaspectratio-aspect-ratio-x)
    width: 100vw
