/**
 * components/character.styl
 * @author kaminoctem
 */

/** Variables */

/** Styles */
.characterlayer
  display: block
  margin: 0
  height: 100%

.character
  display: inline-block
  left: 0%
  margin: 0
  position: absolute
  top: 0%
  width: 100%

.character-image
  height: 100%
  max-height: unset
  max-width: unset
  width: 100%
