/**
 * components/messagewindow.styl
 * @author kaminoctem
 */

/** variable */
$messagewindow-forecolor ?= $color-white
$messagewindow-backcolor ?= alpha($color-black, 50%)
$messagewindow-height ?= percentage(1 / 3)
$messagewindow-header-font-size ?= $font-size-normal
$messagewindow-header-font-weight ?= $font-weight-medium
$messagewindow-body-font-size ?= $font-size-normal
$messagewindow-body-font-weight ?= $font-weight-normal
$messagewindow-footer-font-size ?= $font-size-small
$messagewindow-footer-font-weight ?= $font-weight-normal
$messagewindow-container-width ?= 90%

/** style */
.messagewindowlayer
  display: block
  margin: 0
  height: 100%

.messagewindow
  color: $messagewindow-forecolor
  background-color: $messagewindow-backcolor
  bottom: 0px
  display: block
  height: $messagewindow-height
  left: 0
  margin: auto
  padding: 0
  position: absolute
  right: 0
  top: 100% - $messagewindow-height

  &-background
    display: block
    height: 100%
    min-width: 100%
    width: auto

    &-image
      height: 100%
      max-height: unset
      max-width: unset
      width: 100%

  &-header
    display: block
    font-size: $messagewindow-header-font-size
    font-weight: $messagewindow-header-font-weight
    overflow: hidden
    width: 100%

  &-body
    display: block
    font-size: $messagewindow-body-font-size
    font-weight: $messagewindow-body-font-weight
    overflow: hidden
    width: 100%

  &-footer
    display: block
    font-size: $messagewindow-footer-font-size
    font-weight: $messagewindow-footer-font-weight
    overflow: hidden
    width: 100%

  &-container
    margin: auto
    width: $messagewindow-container-width

  &-character
    margin: auto

  &-message
    margin: 1em

  &.is-fullheight
    height: 100%
    top: 0px

  &.is-fullheight-with-margin
    height: 90%
    top: 0px
    width: 94%
