/**
 * animations/animation.styl
 * @author kaminoctem
 */

/** variable */
$animation-speed-heavy ?= 4s
$animation-speed-slower ?= 3s
$animation-speed-slow ?= 2s
$animation-speed-fast ?= 750ms
$animation-speed-faster ?= 500ms
$animation-speed-flash ?= 250ms

/** style */
.animation
  animation-fill-mode: both

  &.infinite
    animation-iteration-count: infinite

  &.heavy
    animation-duration: $animation-speed-heavy

  &.slower
    animation-duration: $animation-speed-slower

  &.slow
    animation-duration: $animation-speed-slow

  &.fast
    animation-duration: $animation-speed-fast

  &.faster
    animation-duration: $animation-speed-faster

  &.flash
    animation-duration: $animation-speed-flash

  for sec in (1..10)
    &.delay-{sec}
      animation-delay: 1s * sec

  +reducemotion()
    animation-duration: 1ms !important
    transition-duration: 1ms !important
    animation-iteration-count: 1 !important
