/**
 * effects/light
 * @author kaminoctem
 */

// work in progress...

// .light-dawn
//
// .light-sunrise
//
// .light-morning
//
// .light-noon
//
// .light-evening
//
// .light-sunset
//
// .light-dusk
//
// .light-night

