/**
 * effects/translucent
 * @author kaminoctem
 */

/** mixin */
translucent(num)
  opacity: 1 - (0.1 * num)

for num in (1..10)
  /** variable */
  $keyframe-name-cresc = translucent- + num + -cresc
  $keyframe-name-decresc = translucent- + num + -decresc

  /** style */
  .translucent-{num}
    translucent(num)

  .{$keyframe-name-cresc}
    animation-name:  $keyframe-name-cresc

  .{$keyframe-name-decresc}
    animation-name: translucent-decresc

  /** keyframes */
  @keyframes {$keyframe-name-cresc}
    0%
      filter: none
    100%
      translucent(num)

  @keyframes {$keyframe-name-decresc}
    0%
      translucent(num)
    100%
      filter: none
